/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00529E;
}

/* Overlap Section */
.overlap-wrapper {
  position: relative;
  width: 100%;
}

.overlap-group {
  position: relative;
  text-align: center;
}

.background-images img {
  position: absolute;
  object-fit: cover;
}

.login-container {
  background: #ffffff; /* White background */
  padding: 100px; /* Increased padding for more space inside the box */
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 100%;
  max-width: 500px; /* Increased max-width for a bigger box */
  position: relative;
  z-index: 10;
}



h1 {
  color: #0077b6;
  font-size: 40px;
}

h2 {
  color: #0077b6;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  margin: 8px 0;
}

.password-container {
  position: relative;
}

.clarity-eye-hide {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.forgot-password {
  color: #0077b6;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #0077b6;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color:#00529E;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
}

.register-link {
  color: #00529E;
  text-decoration: underline;
}

.social-login {
  margin-top: 20px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-button img {
  width: 30px;
  height: 30px;
}
